
.container{
    width: 80%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin-top: -250px;
    border-bottom: 1px solid #191919;
    padding: 10px;
   
    /* background-color: black; */
}



.img{
    width: 350px;
    height: 200px;

}
.head{
    margin-left: 10px;
    font-size: 14px;
    font-weight: 600;

}
.sub{
    font-size: 10px;
    margin-left: 10px;
    color: lightgrey;
}

.about{
    font-size: 12px;
    width: 400px;
    margin-left: 10px;
}