.container{
    flex: 0.1;
    position: fixed;
    top: 5%;
    height: 100vh;
    overflow:scroll;
    /* left: 10%; */
    /* background-color: aqua; */
    z-index: 100;
}
::-webkit-scrollbar{
    display: none;
}

.explore{
    font-size: 15px;
    margin-left: 10px;
}
